/* GENERAL STYLES */

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

button {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    border: none;

    cursor: pointer;
}

input {
    font: inherit;

    background-color: transparent;
}

ul {
    padding: 0;
    list-style-type: none;
}

.main-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.fieldset {
    border: none;
}


/* LAYOUT */

.container {
    max-width: 940px;
    margin: 0;
    padding: 0 10px;
}

.main-header__container,
.main-header__block--left,
.banner div[class="container"],
.main-navigation__list,
.promo__row,
.promo-slider__btn-box,
.promo__card-content,
.popular-products__banner,
.popular-products__row,
.popular-manufacturers__banner,
.popular-manufacturers__row,
.services__selection,
.about-container,
.footer-navigation-top,
.footer-navigation-bottom,
.footer-navigation-top__list,
.footer-navigation-bottom__list,
.main-footer__top--logo,
.main-footer__top--address,
.main-footer__bottom-container,
.card-product__row,
.sorting,
.sorting-btn-wrap,
.about-container {
    display: flex;
    justify-content: space-between; 
}


/* HEADER */

.main-header {
    min-width: 960px;

    font-size: 17px;
    line-height: 18px;
    
    background-color: #293449;
}

.main-header__block--left {
    display: flex;
    align-items: center;
}

.main-logo {
    position: relative;
    padding: 12.5px 50px;

    background-color: #ee3643;
    /* box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24); */
}

.main-logo::after {
    position: absolute;
    top: 45px;
    left: 0;
    content: '';
    width: 210px;
    height: 5px;
    background-color: #b52933;
}

.main-logo:hover, 
.main-logo:focus {
    background-color: #ca2c37;
    
    transition: 0.4s;
}

.main-logo:active {
    background-color: #ba2732;
}

.search {
    display: flex;
    justify-content: space-around;
}

.search__icon {
    margin: 6px;
}

.search__field {
    border: none;

    color: #000;
}

.search__field:hover,
.bookmark:hover,
.bookmark:focus,
.cart:hover,
.cart:focus {
    background-color: #212a3a;

    transition: 0.4s;
}

.search__field:focus {    
    background-color: #ffffff;
}

.bookmark:active,
.cart:active {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}

.main-header__block--right {
    display: flex;
    flex-wrap: nowrap;
}

.bookmark,
.cart,
.order {
    word-wrap: normal;
    padding: 12.5px 20px;
}

.order {
    background-color: #63a63e;
}

.order:hover,
.order:focus {
    background-color: #5fbb2d;
    
    transition: 0.4s;
}

.order:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #518534;
}

/* MAIN */

.main {
    position: relative;
}


/* BANNER */

.banner {
    width: 960px;
    margin: 0 auto;
    color: #000;

    background-color: #f3f7f9;
}

.banner-left__title {
    padding-top: 20px;
    padding-left: 53px;

    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    font-weight: 400;
    color: #ee3643;
}

.banner-center__tel {
    border: 3px solid #ffffff;
}

.banner-center__images {
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 12px;
}

.banner-center__link {
    font-size: 21px;
    font-style: normal;
    line-height: 21px;
    align-items: center;
    color: #ee3643;   
}

.banner-center__link:hover,
.banner-center__link:focus {
    text-decoration: underline;
    color: #ca2c37;
    
    transition: 0.4s;
}

.banner-center__link:active {
    color: #ba2732;
}

.banner-center__address {
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    align-items: center;
    color: #32425c;
}

.banner-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-right__list {
    display: flex;
    justify-content: space-around;
}

.banner-right__button,
.profile {
    display: flex;
    justify-content: stretch;

    font-size: 21px;
    font-style: normal;
    align-items: center;
    text-transform: none;
    color: #000000;
    
    background-color: #fff;
}

.banner-right__icon {
    margin: 0 14px;
}

.banner-right__button-login {
    margin-right: 10px;
}

.banner-right__button:hover, 
.banner-right__button:focus {
    color: #ee3643;
    
    transition: 0.4s;
}

.profile-wrap {
    display: flex;
    justify-content: stretch;

    max-height: 40px;
}

.profile img {
    margin: 14px;
}

.profile:hover, 
.profile:focus {
    color: #ee3643;
    
    transition: 0.4s;
}

.profile:active {
    opacity: 0.3;
}

.logout {
    padding: 10px 10px 10px 10px;

    background-color: #ffffff;
}

.banner-right__button:active,
.profile:active {
    color: rgba(0, 0, 0, 0.3);
}

.userlinks__list {
    display: flex;
    justify-content: space-around;
}

.userlinks__link {
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
    color: #000000;
}

.userlinks__link:hover,
.userlinks__link:focus {
    color: #ee3643;
    
    transition: 0.4s;
}

.userlinks__link:active {
    color: #32425c;

    text-decoration: none;

    opacity: 0.3;
}

/* NAVIGATION */

.main-navigation {
    margin-bottom: 60px;
    width: 100%;
    border-bottom: 5px solid #293449;

    font-size: 17px;
    line-height: 17px;
    align-items: center;

    background-color: #32425c;
}

.main-navigation__list {
    align-items: stretch;
}

.main-navigation__link {
    padding: 15.5px;
}

.main-navigation__link:hover,
.main-navigation__link:focus {
    background-color: #293449;
    
    transition: 0.4s;
}

.main-navigation__link:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}


/* PROMO BLOCK */

.promo__card {
    position: relative;

    width: 100%;
    margin: 10px;

    overflow: hidden;
}

.promo__card-content {
    padding: 0 23px;
    margin-bottom: 22px;
}

.promo__card--materials {
    background-color: #ffbf47;
}

.promo__card--tools {
    background-color: #3bbce3;
}

.promo__card--equipment {
    background-color: #dc91d8;
}

.promo__card--discount {
    background-color: #8ed78f;
}

.promo__card--delivery {
    background-color: #ffc047;
}

.card-content__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.card-content__link {
    padding: 14px 24px;

    line-height: 18px;
    text-transform: uppercase;

    background-color: rgba(0, 0, 0, 0.1);
}

.card-content__link:hover,
.card-content__link:focus {
    background-color: rgba(0, 0, 0, 0.2);
    
    transition: 0.4s;
}

.card-content__link:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.card-content__images-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.promo-slider {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 2;
    margin: 10px;
    padding: 0 25px;
    max-width: calc(100% - 100px);
   
    background-color: #32425c;
    background-image: url(../img/slider-drill.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.promo-slider__overlay--perforator,
.promo-slider__overlay--drill {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.promo-slider__overlay--perforator {
    display: none;
}

.promo-slider__overlay--drill {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.overlay__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.overlay__text {
    font-size: 18px;
    line-height: 24px;
}

.promo-slider__link-wrap {
    display: flex;
    justify-content: start;
    align-items: center;
}

/* BUTTONS AND LINKS */

.promo-slider__link,
.popular-products__more,
.popular-manufacturers__more,
.company__btn,
.contacts__btn,
.credit__button,
.popup-added-product__button,
.feedback-form__btn {
    padding: 10px;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    background-color: #ee3643;
    border-radius: 2px;
}

.promo-slider__link:hover,
.promo-slider__link:focus,
.popular-products__more:hover,
.popular-products__more:focus,
.popular-manufacturers__more:hover,
.popular-manufacturers__more:focus,
.company__btn:hover,
.company__btn:focus,
.contacts__btn:hover,
.contacts__btn:focus,
.credit__button:hover,
.credit__button:focus,
.popup-added-product__button:hover, 
.popup-added-product__button:focus,
.feedback-form__btn:hover,
.feedback-form__btn:focus {
    font-size: 14px;
    line-height: 18px;

    background-color: #ca2c37;
    
    transition: 0.4s;
}

.promo-slider__link:active,
.popular-products__more:active,
.popular-manufacturers__more:active,
.company__btn:active,
.contacts__btn:active,
.credit__button:active,
.popup-added-product__button:active,
.feedback-form__btn:active {
    font-size: 14px;
    line-height: 18px;

    background-color: #ba2732;
}

.wrap-slider-radiobutton {
    display: flex;
    justify-content: space-around;
    margin-left: 76px;
}

.wrap-slider-radiobutton li input {
    margin: 0 5px;
}

.promo_double-block {
    display: flex;
    flex-direction: column;
    flex-grow: -1;
}

/* POPULAR PRODUCTS */

.new-product {
    text-align: center;

    transform: rotate(45deg);
}

.popular-products {
    margin-bottom: 20px;
}

.popular-products__banner,
.popular-manufacturers__banner {
    align-items: center;
    margin-bottom: 20px;

    background-color: #f9f5f0;
}

.popular-products__row {
    align-items: stretch;
}

.popular-products__cell,
.card-product__cell,
.popular-manufacturers__cell {
    position: relative;

    border: 1px solid #eaeaea;

    text-align: center;
}

.popular-products__cell {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    overflow: hidden;
}

.card-products__cell:hover,
.card-products__cell:focus,
.popular-products__cell:hover,
.popular-products__cell:focus,
.popular-manufacturers__cell:hover,
.popular-manufacturers__cell:focus {       
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
    
    transition: 0.4s;
}

.card-product__btn-wrap {
    display: none;
    flex-direction: column;
    justify-content: space-around;
}

.popular-products__title,
.popular-manufacturers__title {
    padding-left: 30px;

    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
}

.popular-products__more,
.popular-manufacturers__more {    
    margin-right: 24px;
}


/* POPULAR MANUFACTURERS */

.popular-manufacturers__row {
    align-items: stretch;
    flex-basis: 25%;
}

.popular-manufacturers__cell {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 10px;
}

.popular-manufacturers__cell:active {
    box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
    opacity: 0.3;
}

/* SERVICES */

.services {
    background-color: #f4f7f9;
}

.services__title {
    padding-top: 65px;
}

.services__title,
.company__title,
.contacts__title {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
}

.services__info,
.company__description,
.contacts__text,
.delivery__description,
.warranty__description,
.credit__description {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.delivery__title,
.warranty__title,
.credit__title {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #32425c;
}

.services__list {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.services__option {
    margin: 0;
    padding: 20px 23px 24px;
    min-width: 240px;

    text-transform: none;
    text-align: left;
}

.warranty,
.credit,
.services-img__warranty,
.services-img__credit {
    display: none;
}

.services__option {
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;

    background-color: #32425c;
}

.services__option:hover,
.services__option:focus {
    color: #ffffff;
    
    background-color: #293449;

    transition: 0.4s;
}

.services__option--active {
    color: #32425c;

    background-color: #ffffff;
}

.services__description {
    margin-left: 80px;
}


/* ABOUT */
.about-container {
    position: relative;

    padding-bottom: 86px;
}

.company,
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.contacts__map--wrap {
    margin-bottom: 35px;
}

.company__btn {
    max-width: 220px;
}

.company__list {
    margin-left: 35px;
    /* font-size: 18px; */
    font-weight: 700;
    /* line-height: 20px; */
    color: #000;
}

.company__item:before {
    position: absolute;
    content: '';
    width: 25px;
    height: 2px;
    background-color: #ee3643;
    left: 0;
}


/* POPAPS */

.popup-map,
.popup-write-us,
.popup-added-product {
    /* display: none; */
}

/* POPUP WRITE US */

.popup-write-us {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    min-width: 620px; 
    border-top: 7px solid #ee3643;

    color: #000000;

    background-color: #ffffff;
    box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
    z-index: 5;
}

.popup-write-us__close-btn-wrap {
    display: flex;
    justify-content: flex-end;
}

.main-form,
.user-data {
    display: flex;
}

.user-data {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
}

.user-data__label {
    margin-bottom: 13px;
    font-size: 18px;
    line-height: 18px;
}

.textarea-wrap .user-data__label {
    padding-left: 20px;
}

.user-data__name,
.user-data__email,
.textarea-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.feedback-form__user-name,
.feedback-form__user-email,
.user-letter {
    padding-left: 14px;

    border-radius: 4px;
}


/* PLACEHOLDER */

.feedback-form__user-name::-webkit-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.feedback-form__user-name::-moz-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.feedback-form__user-name:-moz-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.feedback-form__user-name:-ms-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 18px;
    padding-left: 14px;
    color: #a9a9a9;
}

.feedback-form__user-email::-webkit-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.feedback-form__user-email::-moz-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.feedback-form__user-email:-moz-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.feedback-form__user-email:-ms-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.user-letter::-webkit-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 30px;
    color: #a9a9a9;
}

.user-letter::-moz-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 30px;
    color: #a9a9a9;
}

.user-letter:-moz-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 30px;
    color: #a9a9a9;
}

.user-letter:-ms-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;    
    font-size: 13px;
    line-height: 30px;
    color: #a9a9a9;
}

.user-data__name {
    margin-right: 10px;
}

.user-data__email {
    margin-left: 10px;
}

.textarea-wrap {
    margin-bottom: 40px;
}

.user-letter {
    margin-left: 20px;
    margin-right: 20px;

    resize: none;
}

.feedback-form__btn {
    display: flex;
    justify-content: stretch;
    min-width: 100%;

    text-align: center;
}

.feedback-form__btn span {
    margin-left: 50%;
    transform: translateX(-50%);
}


/* POPUP MAP */

.popup-map {
    position: absolute;
    left: 0;

    width: 940px;
    min-height: 447px;

    background-image: url(../img/map-big.jpg);
}

.popup-map__close-btn {
    float: right;

    margin-top: 8px;
}


/* POPUP CATALOG */

.popup-added-product {
    position: absolute;
    top: 340px;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 620px;
    height: 282px;    
    border-top: 7px solid #ee3643;

    background-color: #ffffff;
    box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.popup-added-product__close-btn {
    display: flex;
    justify-content: flex-end;
}

.popup-added-product__info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.popup-added-product__text {
    padding-left: 32px;

    font-size: 30px;
    line-height: 30px;
    color: #000000;
}

.popup-added-product__btns,
.feedback-form__btn-wrap {
    display: flex;
    justify-content: center;
    width: calc(100% + 24px);
    padding: 20px 120px;

    background-color: #f1f1f1;
}

.feedback-form__btn-wrap {
    margin-left: -10px;
    margin-bottom: -7px;
}

.popup-added-product__button {
    margin: 36px 10px;
}

.popup-added-product__button--contitue {
    color: #000000;

    background-color: #ffffff;
}

.feedback-form__btn {
    display: flex;
    justify-content: stretch;
    align-items: center;
}



/* FILTER */

.path__list {
    display: flex;
    justify-content: start;
}

.perforators__offers {
    display: flex;
    justify-content: space-around;
}

.filter__title,
.sorting__title {
   padding-left: 18px;
}

.filter__title,
.wrap-price-range,
.min-result,
.max-result,
.between-output,
.sorting {
    color: #000000;

    background-color: #f7f3ec;
}

.price-range:focus {
    outline: none;
  }

.price-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;

    background: #00ca74;

    cursor: pointer;
  }

.filter__name {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.min-result,
.max-result {
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
}

.between-output {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}

.manufacturer__name,
.power__type {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
}

.filter__btn,
.sorting button,
.page {   
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;

    background-color: transparent;
}

.sorting button {
    padding: 0 15px;

    color: rgba(0, 0, 0, 0.3);
}

.path__link:hover,
.path__link:focus,
.sorting button:hover,
.sorting button:focus {
    text-decoration: underline;
    color: #000000;
    
    transition: 0.4s;
}

.path__link:active,
.sorting button:active {
    text-decoration: none;
    color: #ee3643;
}

.filter__btn {
    padding: 13px 38px;
    border-radius: 2px;
}

.filter__btn,
.page  {
    border: 1px solid #e5e5e5;
}

.filter__btn:hover,
.filter__btn:focus,
.page:hover,
.page:focus  {
    border: 1px solid #bdc6ca;
    
    transition: 0.4s;
}

.filter__btn:active,
.page:active  {
    border: 1px solid #ee3643;
}

#page--active {
    color: #ffffff;

    background-color: #ee3643;
}

/* PERFORATORS */

.product-title {
    padding: 30px;
}

.path__item {
    position: relative;
}

.home__link {
    padding-right: 20px;
}

.path__link {
    padding: 0 20px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.path__link::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 12px;
    background-image: url(../img/svg/icon-right-small.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    left: 0;
    top: 12px;
}

.path__item:first-child path__link::before {   
    width: 0;
    height: 0;
}

.new-product {
    display: none;
    width: 100px;

    line-height: 24px;
    align-items: center;
    background-color: #ee3643;
}

.show-mark {
    position: absolute;
    top: 5px;
    right: -30px;

    display: block;

    overflow: hidden;
}

.card-product__cell {
    margin: 10px;

    overflow: hidden;
    text-align: center;
}

.card-product__btn--buy,
.card-product__btn--to-bookmark {
    max-width: 135px;
    min-width: 135px;
    min-height: 38px;
    margin: 3.5px auto;
    

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    align-items: center;
}

.card-product__btn--buy img {
    opacity: 0.3;
}

.card-product__btn--buy img:hover,
.card-product__btn--buy img:focus,
.card-product__btn--buy img:active {
    opacity: 1;
    
    transition: 0.4s;
}

.card-product__btn--buy {
    color: #ffffff;

    background-color: #63a63e;
}

.card-product__btn--buy:hover,
.card-product__btn--buy:focus {
    background-color: #5fbb2d;
    
    transition: 0.4s;
}

.card-product__btn--buy:active {
    background-color: #518534;
}

.card-product__btn--to-bookmark {
    border: 3px solid #63a63e;

    color: #32425c;

    background-color: #ffffff;
}

.card-product__btn--to-bookmark:hover,
.card-product__btn--to-bookmark:focus {
    border: 3px solid #32425c;
    
    transition: 0.4s;
}

.card-product__btn--to-bookmark:active {
    border: 3px solid #32425c;
    opacity: 0.3;
}

.product-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    align-items: center;
    color: #32425c;

    background-color: #f2f6f8;
}

.card-product__title {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.old-price,
.new-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    align-items: center;
}

.old-price {
    text-decoration: line-through;
    color: #999999;
}

.new-price {
    max-width: 122px;
    margin: 0 auto 20px;
    padding: 13px 20px 12px 35px;

    color: #ffffff;
    
    background-color: #ee3643;
}

.new-price:after {
    position: absolute;
    bottom: 20px;
    right: 28.5px;
    content: '';
    width: 0;
    height: 0;
    border: 21px solid transparent;
    border-left-color:#ee3643;
    border-right: 0;
}

.page-switch {
    display: flex;

}

.page {
    margin: 0 5px;
    padding: 12.5px 15px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    align-items: center;
    color: #000000;
}

/* INFO */

.info {
    background-color: #f2f6f8;
}

.info__title {
    padding-top: 65px;

    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.info__description {
    padding-bottom: 75px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

/* FOOTER */

.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    min-width: 960px;
}

.main-footer__top {
    width: 960px;
    height: 100%;

    background-color: #32425c;
}

.footer-logo-wrap {
    position: relative;
    padding-top: 11px;
}

.footer-logo {
    padding: 21px 41px 26px 42px;

    background-color: #ee3643;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.footer-navigation-top {
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation-top__link,
.footer-navigation-bottom__link {
    padding: 20px 30px;

    color: #f3f7f9;
}

.footer-navigation-top__link:hover,
.footer-navigation-top__link:focus,
.footer-navigation-bottom__link:hover,
.footer-navigation-bottom__link:focus {
    text-decoration: underline;
    
    transition: 0.4s;
}

.footer-navigation-top__link:active,
.footer-navigation-bottom__link:active {
    text-decoration: none;

    opacity: 0.5;
}


.main-footer__bottom {
    background-color: #293449;
}

.footer-address {
    margin: 30px auto 55px;
}

.footer-address,
.footer-tel {
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    white-space: nowrap;
    color: #f3f7f9;
}

.footer-tel:hover,
.footer-tel:focus {
    text-decoration: underline;
    
    transition: 0.4s;
}

.footer-tel:focus {
    opacity: 0.5;
}

.footer-navigation-bottom {
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation-bottom__link {
    color: #ffda96;    
}

.main-footer__bottom-container {
    margin: 40px auto 35px;
}

.main-footer__copyright--right {
    display: flex;
    justify-content: space-around;
}

.footer-feedback {
    margin-right: 52px;
}

.main-footer__copyright--left,
.footer-feedback,
.developed {
    font-size: 16px;
    line-height: 18px;
}

.footer-feedback:hover,
.footer-feedback:focus,
.developed:hover,
.developed:focus {
    text-decoration: underline;
    
    transition: 0.4s;
}

.footer-feedback:active,
.developed:active {
    color: #ee3643;
}

.social_list,
.main-footer__copyright--right {
    display: flex;
    justify-content: space-around;
}

.social_button {
    display: block;
    margin: 0 2px;
    width: 41px;
    height: 41px;
    border-radius: 50%;

    font-size: 0;

    background-color: #212a3a;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

li:nth-child(1) .social_button {
    background-image: url(../img/svg/icon-vk.svg);
}

li:nth-child(2) .social_button {
    background-image: url(../img/svg/icon-fb.svg);
}

li:nth-child(3) .social_button {
    background-image: url(../img/svg/icon-insta.svg);
}

.social_button:hover,
.social_button:focus,
.social_button:active {
    background-color: #ee3643;
    
    transition: 0.4s;
}

.social_button--vk,
.social_button--fb,
.social_button--insta {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.social_button--vk {
    background-image: url(../img/svg/icon-vk.svg);
}

.social_button--fb {
    background-image: url(../img/svg/icon-fb.svg);
}

.social_button--insta {
    background-image: url(../img/svg/icon-insta.svg);
}

.feedback__link,
.developed__link {
    color: #ffda96;
}






























