/* GENERAL STYLES */

*, *::before, *::after {
    box-sizing: inherit;
    transition-duration: inherit;
}

*:hover,
*:focus {
    transition: 0.4s;
}

html {
    box-sizing: border-box;
    transition-duration: 0.4s;
}

body {
    margin: 0;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

button {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    border: none;

    cursor: pointer;
}

input {
    font: inherit;

    background-color: transparent;
}

ul {
    padding: 0;
    list-style-type: none;
}

.main-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.fieldset {
    border: none;
}


/* LAYOUT */

.container {
    max-width: 940px;
    margin: 0;
    padding: 0 10px;
}

.main-header__container,
.main-header__block--left,
.banner div[class="container"],
.main-navigation__list,
.promo__row,
.promo-slider__btn-box,
.popular-products__banner,
.popular-products__row,
.popular-manufacturers__banner,
.popular-manufacturers__row,
.services__selection,
.about-container,
.footer-navigation-top,
.footer-navigation-bottom,
.footer-navigation-top__list,
.footer-navigation-bottom__list,
.main-footer__top--logo,
.main-footer__top--address,
.main-footer__bottom-container,
.card-product__row,
.sorting,
.sorting-btn-wrap,
.about-container {
    display: flex;
    justify-content: space-between; 
}


/* HEADER */

.main-header {
    min-width: 960px;

    font-size: 17px;
    line-height: 18px;
    
    background-color: #293449;
}

.main-header__block--left {
    display: flex;
    align-items: center;
}

.main-logo {
    padding: 12.5px 50px;

    background-color: #ee3643;
    /* box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24); */
}

.main-logo:hover, 
.main-logo:focus {
    background-color: #ca2c37;
}

.main-logo:active {
    background-color: #ba2732;
}

.search {
    display: flex;
    justify-content: space-around;
}

.search__icon {
    margin: 6px;
}

.search__field {

    border: none;

    color: #000;
}

.search__field:hover,
.bookmark:hover,
.bookmark:focus,
.cart:hover,
.cart:focus {
    background-color: #212a3a;
}

.search__field:focus {    
    background-color: #ffffff;
}

.bookmark:active,
.cart:active {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}

.main-header__block--right {
    display: flex;
}

.bookmark,
.cart,
.order {
    padding: 12.5px 20px;
}

.order {
    background-color: #63a63e;
}

.order:hover,
.order:focus {
    background-color: #5fbb2d;
}

.order:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #518534;
}


/* BANNER */

.banner {
    width: 960px;
    margin: 0 auto;
    color: #000;

    background-color: #f3f7f9;
}

.banner-left__title {
    padding-top: 20px;
    padding-left: 53px;

    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    font-weight: 400;
    color: #ee3643;
}

.banner-center__tel {
    border: 3px solid #ffffff;
}

.banner-center__images {
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 12px;
}

.banner-center__link {
    font-size: 21px;
    font-style: normal;
    line-height: 21px;
    align-items: center;
    color: #ee3643;   
}

.banner-center__link:hover,
.banner-center__link:focus {
    text-decoration: underline;
    color: #ca2c37;
}

.banner-center__link:active {
    color: #ba2732;
}

.banner-center__address {
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    align-items: center;
    color: #32425c;
}

.banner-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-right__list {
    display: flex;
    justify-content: space-around;
}

.banner-right__button,
.profile {
    display: flex;
    justify-content: stretch;

    font-size: 21px;
    font-style: normal;
    align-items: center;
    text-transform: none;
    color: #000000;
    
    background-color: #fff;
}

.banner-right__icon {
    margin: 0 14px;
}

.banner-right__button-login {
    margin-right: 10px;
}

.banner-right__button:hover, 
.banner-right__button:focus {
    color: #ee3643;
}

.profile-wrap {
    display: flex;
    justify-content: stretch;

    max-height: 40px;
}

.profile img {
    margin: 14px;
}

.profile:hover, 
.profile:focus {
    color: #ee3643;
}

.profile:active {
    opacity: 0.3;
}

.logout {
    padding: 10px 10px 10px 10px;

    background-color: #ffffff;
}

.banner-right__button:active,
.profile:active {
    color: rgba(0, 0, 0, 0.3);
}

.userlinks__list {
    display: flex;
    justify-content: space-around;
}

.userlinks__link {
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
    color: #000000;
}

.userlinks__link:hover,
.userlinks__link:focus {
    color: #ee3643;
}

.userlinks__link:active {
    color: #32425c;

    text-decoration: none;

    opacity: 0.3;
}

/* NAVIGATION */

.main-navigation {
    margin-bottom: 60px;
    width: 100%;
    border-bottom: 5px solid #293449;

    font-size: 17px;
    line-height: 17px;
    align-items: center;

    background-color: #32425c;
}

.main-navigation__list {
    align-items: stretch;
}

.main-navigation__link {
    padding: 15.5px;
}

.main-navigation__link:hover,
.main-navigation__link:focus {
    background-color: #293449;
}

.main-navigation__link:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

/* PROMO BLOCK */

.promo__card {
    width: 100%;
}

.promo__card--materials {
    background-color: #ffbf47;
}

.promo__card--tools {
    background-color: #3bbce3;
}

.promo__card--equipment {
    background-color: #dc91d8;
}

.promo__card--discount {
    background-color: #8ed78f;
}

.promo__card--delivery {
    background-color: #ffc047;
}

.card-content__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.card-content__link {
    line-height: 18px;
    text-transform: uppercase;

    background-color: rgba(0, 0, 0, 0.1);
}

.card-content__link:hover,
.card-content__link:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.card-content__link:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.promo-slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
   
    background-color: #32425c;
    background-image: url(../img/slider-drill.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.promo-slider__overlay--perforator,
.promo-slider__overlay--drill {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.promo-slider__overlay--perforator {
    display: none;
}

.overlay__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.overlay__text {
    font-size: 18px;
    line-height: 24px;
}

.promo-slider__link-wrap {
    display: flex;
    justify-content: start;
}

.promo-slider__link,
.popular-products__more,
.popular-manufacturers__more,
.company__btn,
.contacts__btn,
.credit__button {
    padding: 10px;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    background-color: #ee3643;
    border-radius: 2px;
}

.promo-slider__link:hover,
.promo-slider__link:focus,
.popular-products__more:hover,
.popular-products__more:focus,
.popular-manufacturers__more:hover,
.popular-manufacturers__more:focus,
.company__btn:hover,
.company__btn:focus,
.contacts__btn:hover,
.contacts__btn:focus,
.credit__button:hover,
.credit__button:focus {
    font-size: 14px;
    line-height: 18px;

    background-color: #ca2c37;
}

.promo-slider__link:active,
.popular-products__more:active,
.popular-manufacturers__more:active,
.company__btn:active,
.contacts__btn:active,
.credit__button:active {
    font-size: 14px;
    line-height: 18px;

    background-color: #ba2732;
}

.wrap-slider-radiobutton {
    display: flex;
    justify-content: space-around;
}

.promo_double-block {
    flex-grow: 1;
}

/* POPULAR PRODUCTS */

.new-product {
    text-align: center;

    transform: rotate(45deg);
}

.popular-products__banner,
.popular-manufacturers__banner {
    background-color: #f9f5f0;
}

.popular-products__cell,
.popular-manufacturers__cell {
    border: 1px solid #eaeaea;

    text-align: center;
}

.popular-products__cell:hover,
.popular-products__cell:focus,
.popular-manufacturers__cell:hover,
.popular-manufacturers__cell:focus {       
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-products__title,
.popular-manufacturers__title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
}


/* POPULAR MANUFACTURERS */

.popular-manufacturers__cell:active {
    box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
    opacity: 0.3;
}

/* SERVICES */

.services {
    background-color: #f4f7f9;
}

.services__title,
.company__title,
.contacts__title {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
}

.services__info,
.company__description,
.contacts__text,
.delivery__description,
.warranty__description,
.credit__description {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.delivery__title,
.warranty__title,
.credit__title {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #32425c;
}

.services__list {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.services__option {
    margin: 0;
    padding: 20px 23px 24px;
    min-width: 240px;

    text-transform: none;
    text-align: left;
}

.warranty,
.credit,
.services-img__warranty,
.services-img__credit {
    display: none;
}

.services__option {
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;

    background-color: #32425c;
}

.services__option:hover,
.services__option:focus {
    color: #ffffff;
    
    background-color: #293449;
}

.services__option--active {
    color: #32425c;

    background-color: #ffffff;
}

.services__description {
    margin-left: 80px;
}


/* ABOUT */
.about-container {
    padding-bottom: 86px;
}

.company,
.contacts {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.contacts__map--wrap {
    margin-bottom: 35px;
}

.company__btn {
    max-width: 220px;
}

.company__list {
    margin-left: 35px;
    /* font-size: 18px; */
    font-weight: 700;
    /* line-height: 20px; */
    color: #000;
}

.company__item:before {
    position: absolute;
    content: '';
    width: 25px;
    height: 2px;
    background-color: #ee3643;
    left: 0;
}


/* POPAP */

.popup-map,
.popup-write-us,
.popup-added-product {
    display: none;
}


/* FILTER */

.path__list {
    display: flex;
    justify-content: start;
}

.perforators__offers {
    display: flex;
    justify-content: space-around;
}

.filter__title,
.wrap-price-range,
.min-result,
.max-result,
.between-output,
.sorting {
    color: #000000;

    background-color: #f7f3ec;
}

.price-range:focus {
    outline: none;
  }

.price-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;

    background: #00ca74;

    cursor: pointer;
  }

.filter__name {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.min-result,
.max-result {
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
}

.between-output {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}

.manufacturer__name,
.power__type {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
}

.filter__btn,
.sorting button,
.page {   
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;

    background-color: transparent;
}

.sorting button {
    color: rgba(0, 0, 0, 0.3);
}

.sorting button:hover,
.sorting button:focus {
    text-decoration: underline;
    color: #000000;
}

.sorting button:active {
    text-decoration: none;
    color: #ee3643;
}

.filter__btn,
.page  {
    border: 1px solid #e5e5e5;
}

.page:hover,
.page:focus  {
    border: 1px solid #bdc6ca;
}

.page:active  {
    border: 1px solid #ee3643;
}

#page--active {
    color: #ffffff;

    background-color: #ee3643;
}

/* PERFORATORS */

.path__link {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.new-product {
    align-items: center;
    background-color: #ee3643;
}

.card-product__btn--buy,
.card-product__btn--to-bookmark {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    align-items: center;
}

.card-product__btn--buy img {
    opacity: 0.3;
}

.card-product__btn--buy img:hover,
.card-product__btn--buy img:focus,
.card-product__btn--buy img:active {
    opacity: 1;
}

.card-product__btn--buy {
    color: #ffffff;

    background-color: #63a63e;
}

.card-product__btn--buy:hover,
.card-product__btn--buy:focus {
    background-color: #5fbb2d;
}

.card-product__btn--buy:active {
    background-color: #518534;
}

.card-product__btn--to-bookmark {
    border: 3px solid #63a63e;

    color: #32425c;

    background-color: #ffffff;
}

.card-product__btn--to-bookmark:hover,
.card-product__btn--to-bookmark:focus {
    border: 3px solid #32425c;
}

.card-product__btn--to-bookmark:active {
    border: 3px solid #32425c;
    opacity: 0.3;
}

.product-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    align-items: center;
    color: #32425c;

    background-color: #f2f6f8;
}

.card-product__title {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.old-price,
.new-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    align-items: center;
}

.old-price {
    text-decoration: line-through;
    color: #999999;
}

.new-price {
    color: #ffffff;
    background-color: #ee3643;
}

.page {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    align-items: center;
    color: #000000;
}

/* INFO */

.info {
    background-color: #f2f6f8;
}

.info__title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.info__description {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

/* FOOTER */

.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    min-width: 960px;
}

.main-footer__top {
    width: 960px;
    height: 100%;

    background-color: #32425c;
}

.footer-logo-wrap {
    position: relative;
    padding-top: 11px;
}

.footer-logo {
    padding: 21px 41px 26px 42px;

    background-color: #ee3643;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.footer-navigation-top {
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation-top__link,
.footer-navigation-bottom__link {
    padding: 20px 30px;

    color: #f3f7f9;
}

.footer-navigation-top__link:hover,
.footer-navigation-top__link:focus,
.footer-navigation-bottom__link:hover,
.footer-navigation-bottom__link:focus {
    text-decoration: underline;
}

.footer-navigation-top__link:active,
.footer-navigation-bottom__link:active {
    text-decoration: none;

    opacity: 0.5;
}


.main-footer__bottom {
    background-color: #293449;
}

.footer-address {
    margin: 30px auto 55px;
}

.footer-address,
.footer-tel {
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    white-space: nowrap;
    color: #f3f7f9;
}

.footer-tel:hover,
.footer-tel:focus {
    text-decoration: underline;
}

.footer-tel:focus {
    opacity: 0.5;
}

.footer-navigation-bottom {
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation-bottom__link {
    color: #ffda96;    
}

.main-footer__bottom-container {
    margin: 40px auto 35px;
}

.main-footer__copyright--right {
    display: flex;
    justify-content: space-around;
}

.footer-feedback {
    margin-right: 52px;
}

.main-footer__copyright--left,
.footer-feedback,
.developed {
    font-size: 16px;
    line-height: 18px;
}

.footer-feedback:hover,
.footer-feedback:focus,
.developed:hover,
.developed:focus {
    text-decoration: underline;
}

.footer-feedback:active,
.developed:active {
    color: #ee3643;
}

.social_list,
.main-footer__copyright--right {
    display: flex;
    justify-content: space-around;
}

.social_button {
    background-color: #212a3a;
}

.social_button:hover,
.social_button:focus,
.social_button:active {
    background-color: #ee3643;
}

.social_button--vk,
.social_button--fb,
.social_button--insta {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.social_button--vk {
    background-image: url(../img/svg/icon-vk.svg);
}

.social_button--fb {
    background-image: url(../img/svg/icon-fb.svg);
}

.social_button--insta {
    background-image: url(../img/svg/icon-insta.svg);
}

.feedback__link,
.developed__link {
    color: #ffda96;
}






























